body{
    background-color: lightblue;
    text-align: center;
    padding: 2px;
}
#content{
    padding: 2px;
    margin-top: 3px;
    width: 400px;
}

p{
    text-align: center;
    word-spacing:300px;
    border:2px;
    border-color: black;
   
}
#result{
    background-color: aliceblue;
   
}
#btnSubmit{
    background-color:navy;
    color: beige;
    height: 40px;
    width: 400px;
    font-size: large;
}